# Introduction

In this problem, we want to cluster cities in state of São Paulo, Brazil. 
This clustering will be based on data from São Paulo's Government Github that provides daily data about COVID-19 evolution around the State.
This clustering is important to know how cities are close regarding its metrics about COVID-19.

# Dataset

We're going to use data from São Paulo's Government Github ("https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/")

We are going to use informations below:
        
    nome_munic: City Name
    dia: Day
    mes: Month
    obitos: deaths
    datahora: Complete date
    casos: cases
    pop_60: population with age greater or equal 60 years
    pop: total population
    area: city area
    latitude: latitude
    longitude: longitude

In [4]:
#Importing Pandas
import pandas as pd

In [5]:
url      = "https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/dados_covid_sp.csv"
columns = ['nome_munic','dia','mes','obitos','datahora','casos','pop_60','pop','area','latitude','longitude']


covid_sp = pd.DataFrame(pd.read_csv(url,encoding='UTF-8', sep=';'), columns = columns)


covid_sp.head()

,nome_munic,dia,mes,obitos,datahora,casos,pop_60,pop,area,latitude,longitude
0,Adamantina,25,2,0,2020-02-25,0,7398,33894,41199,"-21,6820","-51,0737"
1,Adolfo,25,2,0,2020-02-25,0,761,3447,21106,"-21,2325","-49,6451"
2,Aguaí,25,2,0,2020-02-25,0,5245,35608,47455,"-22,0572","-46,9735"
3,Águas da Prata,25,2,0,2020-02-25,0,1729,7797,14267,"-21,9319","-46,7176"
4,Águas de Lindóia,25,2,0,2020-02-25,0,3275,18374,6013,"-22,4733","-46,6314"

### Foursquare

From foursquare, we will retrieve information about hospitals close to a point. In this this case hospitals close to a city